<!DOCTYPE html>
<html>
  <head>
    <title>Nodegit API documentation</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <style>
      .nav .nav > li > a {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 30px;
        font-size: 90%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Nodegit</h1>
    </div>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/html" id="template">
      <div class="row">
        <div class="col-md-3 files">
          <ul class="nav nav-stacked">
            <% data.forEach(function(file) { %>
              <% if (file.ignore) return %>
              <li>
                <a href="#<%= file.jsClassName %>"><%= file.jsClassName %></a>
                <ul class="nav">
                  <% (file.functions || []).forEach(function(fn) { %>
                    <% if (fn.ignore) return %>
                    <li><a href="#<%= file.jsClassName + '-' + fn.jsFunctionName %>"><%= fn.jsFunctionName %></a></li>
                  <% }) %>
                </ul>
              </li>
            <% }) %>
          </ul>
        </div>
        <div class="col-md-9 info">
          <% data.forEach(function(file) { %>
            <% if (file.ignore) return %>
            <section>
              <h2 id="<%= file.jsClassName %>"><%= file.jsClassName %></h2>
              <% (file.functions || []).forEach(function(fn) { %>
                <% if (fn.ignore) return; %>
                <section class="panel panel-default">
                  <div class="panel-heading" id="<%= file.jsClassName + '-' + fn.jsFunctionName %>"><%= fn.jsFunctionName %></div>
                  <div class="panel-body">
                    <%= fn.description %>
                    <%
                      var args = [];
                      fn.args.forEach(function(arg) {
                        if (arg.isReturn || arg.isSelf || arg.isPayload) return;
                        args.push(arg);
                      });
                    %>
                    <% if (args.length > 0) { %>
                      <div class="panel panel-primary">
                        <div class="panel-heading">Arguments</div>
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Class</th>
                              <th>Name</th>
                              <th>Comment</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% args.forEach(function(arg) { %>
                              <tr>
                                <td><%= arg.jsClassName %></td>
                                <td><%= arg.name %></td>
                                <td><%= arg.comment %></td>
                              </tr>
                            <% }) %>
                          </tbody>
                        </table>
                      </div>
                    <% } %>
                  </div>
                </section>
              <% }) %>
            </section>
          <% }) %>
        </div>
      </div>
    </script>
    <script type="text/javascript">
      $.getJSON('params.json', function(data) {
        $('.container').append(_.template($('#template').html())({data: data}));
      });
    </script>
  </body>
</html>